@inject NavigationManager NavigationManager

@if (Server is not null)
{
    <tr style="background-color: @GetBackgroundColor()">
        <td>
            @Server.Name
        </td>
        <td>
            @Server.City
        </td>
        <td style="color:@((Server.IsOnline ? "green" : "red"))">
            @(Server.IsOnline ? "Online" : "Offline")
        </td>
        <td>
            @if (Server.IsOnline)
            {
                <text>@(new Random().Next(1, 500))</text>
            }
            else
            {
                <text>N/A</text>
            }
        </td>
        <td>
            @if (Server.IsOnline)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="@(() => { Server.IsOnline = false; })">
                    Turn OFF
                </button>
            }
            else
            {
                <button type="button" class="btn btn-outline-success" @onclick="@(() => { Server.IsOnline = true; })">
                    Turn ON
                </button>
            }
            &ensp;
            <a href="/Servers/@Server.Id" class="btn btn-link border-primary"><i class="bi bi-pencil-fill"></i></a>
            <button type="button" class="btn btn-outline-danger" @onclick="@(() => { DeleteServer(Server.Id); })"><i class="bi bi-trash3-fill"></i></button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Server? Server { get; set; }

    [CascadingParameter(Name = "SelectedCity")]
    public string? SelectedCity { get; set; }

    private void DeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServersRepository.DeleteServer(serverId);
            NavigationManager.NavigateTo("/servers", true);
        }
    }

    private string GetBackgroundColor()
    {
        if (SelectedCity is not null)
        {
            switch (SelectedCity)
            {
                case "Toronto": return "powderblue";
                case "Montreal": return "lightgray";
                case "Ottawa": return "palegreen";
                case "Calgary": return "pink";
                case "Halifax": return "white";
                default:
                    return "white";
            }
        }
        else
        {
            return "white";
        }
    }
}
