@page "/servers"

@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h2>Servers</h2>
<br />
<br />
<div class="container-fluid text-center">
    <div class="row">
        @foreach (var city in cities)
        {
            <div class="col">
                <div class="card">
                    <img src="@($"/images/{city}.png")" class="card-img-top" alt="img" />
                    <div class="card-body">
                        <button class="btn btn-primary" @onclick="@(() => { SelectServerCity(city); })">@city</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<ServerComponent @rendermode="InteractiveServer" />
<br />
<ul>
    @foreach (var server in servers)
    {
        <li>
            @server.Name in @server.City is
            <span style="color:@(server.IsOnline ? "green" : "red")">
                @(server.IsOnline ? "Online" : "Offline")
            </span>
            &nbsp;
            <a href="/servers/@server.Id" class="btn btn-link">Edit</a>
            &nbsp;
            <EditForm Model="server" FormName="@($"delete-server-{server.Id}")"
                      OnValidSubmit="@(() => { DeleteServer(server.Id); })">
                <button type="submit" class="btn btn-danger">Delete</button>
            </EditForm>
        </li>
    }
</ul>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private List<Server> servers = ServersRepository.GetServersByCity("Toronto");
    private List<string> cities = CitiesRepository.GetCities();
    private string selectedCity = "Toronto";

    private void DeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServersRepository.DeleteServer(serverId);
            NavigationManager.NavigateTo("/servers");
        }
    }

    private void SelectServerCity(string cityName)
    {
        this.selectedCity = cityName;
        this.servers = ServersRepository.GetServersByCity(cityName);
    }
}
